<h2>　<h3>

<!--<p>users#index<p/>-->


<h5><p>If you are ao's friend in Facebook, 
you can successfully and get connect to the Wi-Fi.
</p></h5>
<h4>Please tap below!<h4>



<%= link_to "Sign in as a Facebook", user_omniauth_authorize_path(:facebook), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
